/*Fondo*/
body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    color: rgb(0, 0, 0);
    background-color: rgba(25, 208, 208,0.4);
    background-image: url("img/fondo1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/*Titulo
#section1{
    font-size: 40px;
    text-align: left;
    font-family:fantasy;
    
}
*/

/*Menu de barra*/
h2{
   color: azure;
}
.logo{
    display: flex;
    font-size: 24px;

    align-items: center;
}
.logo img{
    height: 80px;
    padding-right: 12px;
}
header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1%;
    
    background: rgba(101,37,246,255);
    width: 100%;
    position: fixed;
    z-index: 100;
}
a{
    text-decoration: none;
}

nav{
    float: left;
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li{
    float: left;
    font-family:fantasy;
    font-size: 22px;
}
nav ul li a{
    display:ruby;
    padding-right: 75px;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
nav ul li:hover{
    background:#f2f6f0;
}
/**/
